.storybook-profile-form--item {
    margin: 5px;
}

.storybook-profile-form-item--label {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-right: 5px;
}
