.storybook-header {
    background-color: #61dafb;
    border-bottom: 1px solid blue;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
